/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */

.card{
  border: 1px solid rgb(94, 89, 89);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: 250px;
  display: inline-block;

}
.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsla(0, 0%, 0%, 0.74);
}

.card .card-text{
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(255, 103, 2);
}
.button{
  background-color: hsl(275, 95%, 49%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.student{
  font-family:Arial, Helvetica, sans-serif sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 74%, 64%, 0.8);
}

.student p{
  margin: 0;
}

.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(215, 90%, 49%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: rgb(221, 127, 3);
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;

}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 18%, 89%);
  border-radius: 25px;
  margin-top: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  font-size : 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%)
  }

  .to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
  }

  .h1{
    font-family: 4rem;
  }
  button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
  }
  .add-button{
    background-color: hsl(125, 47%, 54%);
  }
  .add-button:hover{
    background-color: hsl(125, 47%, 44%);
  }
  .delete-button{
    background-color: hsl(10, 90%, 50%);
  }
  .delete-button:hover{
    background-color: hsl(125, 47%, 40%);
  }
  .move-button{
    background-color: hsl(207, 90%, 64%);
  }
  .move-button:hover{
    background-color: hsl(125, 47%, 54%);
  }
  input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color:hsla(0, 0%, 0%, 0.5)
  }
  ol{
    padding: 0;

  }
  li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items:center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin: 10px;
}
.clock-container {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 5rem;
    font-weight: bold;
    color: white;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);

    padding: 25px 45px;
    border-radius: 15px;
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background: white;
    opacity: 0.7;
    margin: 20px 0;
}
.stopwatch {
    width: 500px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.stopwatch h1 {
    margin: 0;
    color: #222;
    font-size: 2.5rem;
}

.stopwatch hr {
    border: none;
    height: 2px;
    background: #444;
    margin: 20px 0;
}

.display {
    font-size: 4rem;
    font-weight: bold;
    color: #111;
    font-family: monospace;
    margin: 30px 0;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.controls button {
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.start-button {
    background: #28a745;
}

.start-button:hover {
    background: #218838;
}

.stop-button {
    background: #dc3545;
}

.stop-button:hover {
    background: #c82333;
}

.reset-button {
    background: #007bff;
}

.reset-button:hover {
    background: #0056b3;
}